body {
  background: rgb(74,131,198);
background: linear-gradient(90deg, rgba(74,131,198,1) 0%, rgba(221,106,106,1) 100%);
}

.landing-main-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-component {
  margin-top: 15px;
  top: 10;
  max-width: 90vw;
  height: 100%;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  top: 0;
  width: 440px;
  height: 50vh;
  /* border-radius: 13px; */
  /* border: solid rgb(140, 71, 140) 4px; */
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}

.picture-container {
  display: flex;
  flex-direction: column;
  width: 450px;
  justify-content: center;
}
