.landing-main-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-component {
  top:10;
  max-width: 90vw;
  /* max-width: 480px; */
  height:100%;
  border-radius: 13px;
  border: solid rgb(114, 102, 102) 4px;
  }

.map-container {
  top:0;
  width:90vw;
  height: 50vh;
  }

