.nav-bar {
  margin:8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(174, 227, 227);
  height: 25px;
  width: 500px;
  border-radius: 12px;
}

.nav-bar ul{
  list-style-type: none;
}