.comparison-view-container {
  align-items: center;
  width: 100%;
}

.before-pic img {
  width: 440px;
  /* border-radius: 13px; */
}

.after-pic img {
  width: 440px;
  /* border-radius: 13px; */
}

#three .before-pic img {
  width: 440px;
  height: 394px;
  /* border-radius: 13px; */
}

#three .after-pic img {
  width: 440px;
  height: 394px;
  /* border-radius: 13px; */
}

#three .c-cwwhPj {
  height: 394px;
}

.slider-box {
  /* z-index: 1000; */
  width: 440px;
  margin: 12px 0 12px 0;
  /* border: solid rgb(140, 71, 140) 4px; */
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  /* border-radius: 13px; */
}

/* .left-icon {
  display: float;
  top: 4;
  left: 4;
}

.right-icon {
  position: absolute;
  right: 4;
  top: 4;
} */

#three .slider-box {
  margin: 12px 0 12px 0;
  /* border: solid rgb(140, 71, 140) 4px; */
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  padding: 2px;
  height: 394px;
  /* border-radius: 13px; */
}

#three .c-dyuglr {
  width: 440px;
  height: 395px;
  height: auto;
  margin-left: 0;
  margin-bottom: 20px;
}

/* #first{
  margin: 20px;
} */
